.features {
  background-color: $color-default-white;
  margin: 0;
  margin-top: 120px;

  @media (max-width: 1023px) {
    margin-top: 80px;
  }

  @media (max-width: 767px) {
    margin-top: 50px;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(595px, 1fr));
    grid-gap: 30px;
    list-style: none;

    @media (max-width: 1023px) {
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      grid-gap: 30px;
    }

    @media (max-width: 767px) {
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
      grid-gap: 30px;
    }
  }

  &__item {
    min-height: 300px;
    margin: 0;
    padding: 40px 19px 0 43px;
    border: 1px solid $color-whisper;
    border-left: 5px solid $color-deep-sky-blue;
    cursor: default;

    @media (max-width: 1023px) {
      min-height: 360px;
      padding: 40px 36px 28px 40px;
    }

    @media (max-width: 767px) {
      min-height: 340px;
      padding: 31px 30px 0 25px;
    }
  }

  &__item-icon {
    width: 35px;
    height: 35px;
    fill: $color-deep-sky-blue;

    @media (max-width: 767px) {
      width: 30px;
      height: 30px;
    }
  }

  &__heading {
    font: {
      family: $roboto-condensed-regular;
      size: 24px;
      weight: 400;
    }
    line-height: 34px;
    color: $color-deep-sky-blue;
    margin: 0;
    padding: 14px 0 14px;

    @media (max-width: 1023px) {
      padding: 7px 0 8px;
    }

    @media (max-width: 767px) {
      font-size: 20px;
      line-height: 28px;
      padding: 9px 0 9px;
    }
  }

  &__text {
    font: {
      family: $ptmono-regular;
      size: 16px;
      weight: 400;
    }
    line-height: 22px;
    color: $color-black-pearl;
    margin: 0;

    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 19px;
    }
  }
}

.features__item:hover,
.features__item--current {
  background-color: $color-deep-sky-blue;

  * {
    color: $color-default-white;
  }

  svg {
    fill: $color-default-white;
  }
}
