.feedback {
  background: linear-gradient(
    139deg,
    $color-cerulean 33.6%,
    $color-deep-sky-blue 33.6%
  );
  padding: 166px 0 248px;

  @media (max-width: 1023px) {
    background: $color-deep-sky-blue;
    padding: 47px 0 125px;
  }

  @media (max-width: 767px) {
    padding: 45px 0 87px;
  }
}

.feedback__wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1023px) {
    flex-direction: column;
  }
}

.feedback__img-wrapper {
  position: relative;
  width: 506px;
  height: 285px;

  @media (max-width: 1220px) {
    flex-basis: 45%;
  }

  @media (max-width: 1023px) {
    display: none;
  }
}

.feedback__img-wrapper img {
  position: absolute;
  top: 81px;
  left: 8px;
}

.feedback__content-wrapper {
  @media (max-width: 1219px) {
    flex-basis: 50%;
  }

  @media (min-width: 1024px) {
    width: 580px;
    margin-right: 10px;
  }
}

.feedback__title {
  font: {
    family: $roboto-condensed-regular;
    size: 36px;
    weight: 400;
  }
  color: $color-default-white;
  line-height: 50px;
  margin: 0 0 15px 0;

  @media (max-width: 1023px) {
    margin: 0 0 8px 0;
  }

  @media (max-width: 767px) {
    font-size: 30px;
    line-height: 42px;
  }
}

.feedback__subtitle {
  font: {
    family: $ptmono-regular;
    size: 16px;
    weight: 400;
  }
  line-height: 21px;
  color: $color-default-white;
  padding: 0;
  margin: 0 0 32px 0;

  @media (max-width: 1023px) {
    margin: 0 0 25px 0;
  }

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 34px;
  }
}
