.promo {
  padding-bottom: 280px;
  background: url("../../img/promo-bg.jpg") center (center/cover) no-repeat;
  background-color: $color-black-pearl;

  @media (max-width: 1023px) {
    padding-bottom: 208px;
    background-position: -123px 0;
  }

  @media (max-width: 767px) {
    padding-bottom: 190px;
    background-position: -227px 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 305px 0 0 134px;

    @media (max-width: 1023px) {
      padding: 180px 0 0 24px;
    }

    @media (max-width: 767px) {
      padding: 150px 0 0 9px;
    }
  }

  &__title {
    font: {
      family: $roboto-condensed-bold;
      size: 80px;
      weight: 700;
    }
    line-height: 94px;
    color: $color-alice-blue;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 32px;

    @media (max-width: 1023px) {
      font-size: 64px;
      line-height: 75px;
      padding-bottom: 0;
    }

    @media (max-width: 767px) {
      font-size: 36px;
      line-height: 42px;
      padding-bottom: 8px;
    }
  }

  &__text {
    font: {
      family: $ptmono-regular;
      size: 22px;
      weight: 400;
    }
    line-height: 34px;
    color: $color-alice-blue;
    margin: 0;
    padding-bottom: 47px;

    @media (max-width: 1023px) {
      padding-bottom: 58px;
    }

    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 21px;
      padding-bottom: 45px;

      br {
        display: none;
      }
    }
  }

  &__button {
    width: 410px;
    font: {
      size: 18px;
      weight: 700;
    }
    line-height: 21px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 16px 25px;
    background-color: $color-deep-sky-blue;
    border: none;

    &--mobile {
      display: none;
    }

    @media (max-width: 1023px) {
      margin-left: 46px;
    }

    @media (max-width: 767px) {
      width: 270px;
      display: none;
      margin: 0;
      font-size: 14px;
      line-height: 16px;
      padding: 12px 25px;

      &--mobile {
        display: block;
      }
    }
  }
}
