@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

// Desktop first

@mixin vp-1919 {
  @media (max-width: ($vp-1920 - 1px)) {
    @content;
  }
}

@mixin vp-1439 {
  @media (max-width: ($vp-1440 - 1px)) {
    @content;
  }
}

@mixin vp-1279 {
  @media (max-width: ($vp-1280 - 1px)) {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: ($vp-1024 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin vp-374 {
  @media (max-width: ($vp-375 - 1px)) {
    @content;
  }
}

// form
@mixin form-text {
  font: {
    family: $ptmono-regular;
    size: 16px;
    weight: 400;
  }
  line-height: 21px;
  color: $color-default-white;
}

@mixin form-template {
  &__input {
    @include form-text;
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: $color-pacific-blue;
    padding: 15px 0 15px 15px;

    &--name {
      grid-area: name;
    }

    &--tel {
      grid-area: tel;
    }

    &::placeholder {
      @include form-text;
    }
  }

  &__textarea {
    font: {
      size: 16px;
      weight: 400;
    }
    line-height: 21px;
    color: $color-default-white;
    background-color: $color-pacific-blue;
    grid-area: text;
    padding: 25px 0 88px 15px;
    border: 0;
    border-radius: 3px;

    &::placeholder {
      @include form-text;
    }
  }

  &__btn {
    width: 100%;
    font: {
      family: $roboto-condensed-bold;
      weight: 700;
      size: 16px;
    }
    line-height: 18px;
    letter-spacing: 0.05em;
    color: $color-default-white;
    padding: 15px 25px;
    background-color: $color-black-pearl;
    border-radius: 3px;
    grid-area: btn;
    cursor: pointer;
    text-transform: uppercase;
  }

  &__agree {
    @include form-text;
    grid-area: agree;
    position: relative;
    font-size: 14px;
    line-height: 16px;
    padding-left: 37px;

    input {
      position: absolute;
      appearance: none;
    }

    @media (max-width: 1023px) {
      padding-top: 10px;
      margin-top: 0;
    }

    @media (max-width: 767px) {
      padding: 0 0 0 32px;
    }
  }
}

// no JS

@mixin is-hidden {
  display: none;
}

// Mobile first

// @mixin vp-375 {
//   @media (min-width: $vp-375) {
//     @content;
//   }
// }

// @mixin vp-768 {
//   @media (min-width: $vp-768) {
//     @content;
//   }
// }

// @mixin vp-1024 {
//   @media (min-width: $vp-1024) {
//     @content;
//   }
// }

// @mixin vp-1280 {
//   @media (min-width: $vp-1280) {
//     @content;
//   }
// }

// @mixin vp-1440 {
//   @media (min-width: $vp-1440) {
//     @content;
//   }
// }

// @mixin vp-1920 {
//   @media (min-width: $vp-1920) {
//     @content;
//   }
// }

// ---------------------------------

// не нужно добавлять свои миксины для ресета списков, обнуления кнопок и прочие
// этим вы усложняете работу команды, проверку вашего кода и будущую поддержку проекта
